@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html,
body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    background-color: #140E17;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1740px;
    margin: 0 auto;
}

/* Hero */

.hero .background {
    position: relative;

    background-image: url("../images/hero-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero .background .header {

    max-width: 1740px;
    margin: 0 auto;
    padding-top: 40px;

    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .background .header .logo {
    width: 258px;
    height: 32px;

    background-image: url("../images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.hero .background .header .nav-menu {
    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.hero .background .header .nav-menu__item:not(:last-child) {
    margin-right: 40px;
}

.hero .background .header .nav-menu__item {
    display: flex;
    align-items: center;
}

.hero .background .header .dropdown::after {
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    margin-left: 8px;
    background-size: cover;
    background-image: url("../images/dropdown-arrow.svg");
}

.hero .background .header .info {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
}

.hero .background .header .info .signup-link {
    margin-right: 34px;
}

.hero .background .header .info .login-link {
    background-color: #FFFFFF;
    color: #140E17;
    padding: 8px 12px;
    border-radius: 8px;
}

.hero .background .content {
    position: relative;
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 171px;
    padding-bottom: 135px;
}

.hero .background .content h2 {
    width: 44%;

    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;

    margin-bottom: 24px;
}

.hero .background .content .text {
    width: 44%;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 80px;
}

.hero .background .content .text .first {
    margin-bottom: 35px;
}

.hero .background .content .container {
    width: 100%;
    display: flex;
}

.hero .background .content .container .link {
    padding: 8px 56px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;

    text-align: center;
    font-weight: 500;
    font-size: 56px;
    line-height: 80px;
    text-transform: lowercase;
}

/* Case */

.case {
    margin-top: 320px;
}

.case .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.case .content .big-image {
    width: 60%;
    height: 803px;
    background-image: url("../images/img-group.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.case .content .container {
    width: 35%;
}

.case .content .container h2 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;

    margin-bottom: 32px;
}

.case .content .container h4 {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;

    margin-bottom: 16px;
}

.case .content .container p {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    margin-bottom: 80px;
}

.case .content .container a {    
    padding: 8px 56px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;

    text-align: center;
    font-weight: 500;
    font-size: 56px;
    line-height: 80px;
    text-transform: lowercase;
}

/* Third Screen */

.third-screen {
    margin-top: 320px;
}

.third-screen .content .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third-screen .content h2 {
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;

    margin-bottom: 80px;
}

.third-screen .content .container .card {
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: end;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 472px 24px 24px 24px;
}

.third-screen .content .container .card:not(:last-child) {
    margin-right: 30px;
}

.img-1 {
    background-image: url("../images/img-1.png");
}

.img-2 {
    background-image: url("../images/img-2.png");
}

.img-3 {
    background-image: url("../images/img-3.png");
}

/* .third-screen .content .container .card .info {
    padding: 0 24px 24px 24px;
} */

.third-screen .content .container .card .info h4 {
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;

    margin-bottom: 16px;
}

.third-screen .content .container .card .info p {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

/* Book a Demo */

.book-a-demo {
    margin-top: 320px;
}

.book-a-demo .background-image {
    display: flex;
    align-items: center;
    background-image: url("../images/background-book-a-demo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 920px;
}

.book-a-demo .content {
    margin-top: 76px;
}

.book-a-demo .content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.book-a-demo .content .container h2 {
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;

    margin-bottom: 40px;
}

.book-a-demo .content .container p {
    width: 50%;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    margin-bottom: 80px;
}

.book-a-demo .content .container a {    
    padding: 8px 24px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;

    text-align: center;
    font-weight: 500;
    font-size: 56px;
    line-height: 80px;
    text-transform: lowercase;
}

/* Trusted By */
.trusted-by {
    margin-top: 320px;
}

.trusted-by .content h2 {
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;

    margin-bottom: 80px;
}

.trusted-by .background {
    width: 100%;
    height: 867px;
    background-image: url("../images/trusted-by.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* Reviews */
.reviews {
    margin-top: 320px;
}

.reviews .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews .content h2 {
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 80px;
}

.swiper {
    width: 838px;
    height: 400px;
}

.swiper-slide {
    background-color: #2A212F;
    border-radius: 20px;
}

.swiper-slide .container {
    padding: 40px;
}

.reviews .swiper-slide .info {
    display: flex;
    align-items: center;
}

.reviews .swiper-slide .info .image {
    width: 100px;
    height: 100px;
    background-color: #140E17;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 73px;
    border-radius: 100%;

    margin-right: 27px;
}

.reviews .swiper-slide .image.wow {
    background-image: url("../images/wow.png");
}

.reviews .swiper-slide .image.paysenger {
    background-image: url("../images/paysenger.png");
}

.reviews .swiper-slide .image.pixelynx {
    background-image: url("../images/Pixelynx_logo.png");
}

.reviews .swiper-slide p {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    margin-bottom: 60px;
}

.reviews .swiper-slide h5 {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: -39px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: -39px;
}

.swiper-button-next, .swiper-button-prev {
    color: #FFFFFF;
}

/* Footer */

.footer {
    margin-top: 340px;
}

.footer .content .top {
    border-bottom: 1px solid #A2A2A2;
    padding-bottom: 180px;
}

.footer .content .top .logo {
    width: 90px;
    height: 90px;
    margin-bottom: 80px;

    background-image: url("../images/footer-logo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.footer .content .top h2 {
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 80px;
}

.footer .content .top .info {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}

.footer .content .top .info a {
    margin-bottom: 40px;
}

.footer .content .bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.footer .content .bottom .left {
    width: 50%;
}

.footer .content .bottom .left h5 {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 60px;
}

.footer .content .bottom .left .link-list {
    display: flex;
}

.footer .content .bottom .left .link-list .link {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer .content .bottom .left .link-list .link:not(:last-child) {
    margin-right: 40px;
}

.footer .content .bottom .left .link-list .link.instagram {
    background-image: url("../images/inst.svg");
}

.footer .content .bottom .left .link-list .link.facebook {
    background-image: url("../images/facebook.svg");
}

.footer .content .bottom .left .link-list .link.linkedin {
    background-image: url("../images/LinkedIn.svg");
}

.footer .content .bottom .right {
    width: 50%;
}

.footer .content .bottom .right .list {
    display: flex;
    justify-content: space-between;
}

.footer .content .bottom .right .list .column .list-item {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}

.footer .content .bottom .right .list .column .list-item:not(:last-child) {
    margin-bottom: 40px;
}

.footer .content .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 180px;
    padding-bottom: 40px;

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #666666;
}

.footer .content .container a:nth-child(1) {
    margin-left: auto;
    margin-right: 73px;
}

@media (max-width: 1920px) {
    .content {
        margin: 0 90px;
    }

    .hero .background .header {
        margin: 0 90px;
    }
}

@media (max-width: 1500px) {
    .hero .background .content h2 {
        width: 59%;
    }

    .hero .background .content .text {
        width: 50%;
    }

    .third-screen .content .container .card {
        padding: 252px 24px 24px 24px;
    }
}

@media (max-width: 1375px) {
    .hero .background .header .nav-menu {
        display: none;
    }
}

@media (max-width: 1300px) {
    .hero .background .content h2 {
        width: 80%;
    }

    .hero .background .content .text {
        width: 65%;
    }

}

@media (max-width: 1024px) {

    .case {
        margin-top: 100px;
    }

    .case .content .big-image {
        width: 45%;
    }
    
    .case .content .container {
        width: 45%;
    }

    .third-screen .content .container .card {
        padding: 152px 24px 24px 24px;
    }

    .footer .content .bottom .left {
        width: 30%;
    }

    .footer .content .bottom .right {
        width: 60%;
    }
}

@media (max-width: 768px) {

    .content {
        margin: 0 20px;
    }

    .hero .background .header {
        margin: 0 20px;
    }


    .hero .background .content h2 {
        font-size: 76px;
        line-height: 96px;
    }

    .case .content {
        flex-direction: column;
    }

    .case .content .big-image {
        width: 100%;
    }

    .case .content .container {
        width: 100%;
    }

    .third-screen .content .container {
        flex-direction: column;
    }

    .third-screen .content .container .card {
        width: 90%;
        padding: 383px 24px 24px 24px;
    }

    .trusted-by .background {
        height: 354px;
    }

    .third-screen .content .container .card:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .book-a-demo .background-image {
        height: 429px;
    }

    .book-a-demo .content {
        margin-top: 250px;
    }

    .swiper {
        width: 460px;
        height: 280px;
    }

    .swiper-slide .container {
        padding: 25px;
    }

    .reviews .swiper-slide p {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
    }

    .reviews .swiper-slide .info .image {
        width: 70px;
        height: 65px;
        background-size: 35px;
    }

    .reviews .swiper-slide h5 {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    .footer .content .bottom {
        flex-direction: column;
    }

    .footer .content .bottom .left {
        width: 100%;
        margin-bottom: 100px;
    }

    .footer .content .bottom .right {
        width: 100%;
    }
}